duckdb==1.0.0
folium==0.17.0
geobr==0.2.1
geopandas==0.14.4
ipeadatapy==0.1.9
matplotlib==3.8.0
numpy==2.0.0
pandas==2.2.2
patsy==0.5.3
patsy==0.5.6
plotly==5.9.0
plotly==5.22.0
rpy2==3.5.16
seaborn==0.13.2
statsmodels==0.14.0
statsmodels==0.14.2
streamlit==1.30.0
streamlit==1.36.0
streamlit_folium==0.20.1
